body{
    background-color: #fff;
}
#win-emoji{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: none;
}
#loss-emoji{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: none;
}
#btn{
    display: flex;
    margin: auto;
    padding: 15px;
    font-size: 13px;
    background-color: #a2e28f;
    border-radius: 5px;
    display: none;
}

    
